* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f2f2f7;
}

button,
input {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

h2 {
  color: ##ff5940;
}

footer {
  font-size: 10px;
}

textarea {
  height: 20px;
  border-radius: 15px;
  border-color: #fffff5;
  color: #ff5940;
}

button {
  border-radius: 15px;
  border-color: #fffff5;
  color: #ff5940;
}

p,h5,h4,h3,h2 {
  color: #ff5940; 
}
